h1 {
    text-align: center;
    color: indigo;
    padding: 50px;
}
* {
    text-align: center;
}
body {
  background-color: #c9c9fd;
}
.weather-card {
  padding: 30px 50px 50px 30px;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 300px;
  border-radius: 10px;
  box-shadow:15px 20px 85px rgba(51, 31, 99, 0.967);
  overflow: hidden;
  background-color: rgba(6, 6, 90, 0.324);
  align-content: space-between;
  margin:  auto;
}
.weather-card:hover {
  transform: scale(1.01)

}
.input {
  width: 150px;
  border-radius: 6px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: auto;
  border-color:  rgba(224, 224, 245, 0.547);
  background-color: rgba(224, 224, 245, 0.547);
  font-size: 20px;  
}
.input:hover{
  background-color: #adade1;
}
.location {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  margin: 20px auto;
}
.submit {
  background-image: linear-gradient(to right top, white, #376eac, #3d37ae);
  border-radius: 6px;
  border: solid #376eac 1px;
  height: 45px;
  width: 80px;
  align-items: flex-end;
  align-content: flex-end;
  margin: auto;
  padding-bottom: 0px;
  color:  rgb(59, 59, 76) ;
  font-weight: bold;
  font-size: 15px;
  font-style: inherit;
}

.submit:hover{
  background-image: linear-gradient(to right top, white, #ba83ca, #aa8fd8, #9a9ae1, #376eac, #3d37ae);
}
.humidity, .temperature, .location, .temperature, .weather, .city_name {
  font-size: 30px;
  color:  rgb(59, 59, 76) ;
}
.icon {
  height: 200px;
}
img {
  height: 200px;
}
.temperature {
  font-size: 90px;
  font-weight: bold;
}